---
http_interactions:
- request:
    method: post
    uri: http://api.lbs.yandex.net/geolocation?json=%7B%22common%22%3A%7B%22version%22%3A%221.0%22%2C%22api_key%22%3A%22APZfyVcBAAAA58Y4RgIAjmWLTkHXPpAtP4z6Y97H8hyag8cAAAAAAAAAAADWjG3srAFgoWZtF-IvDCgxB_DT6Q%3D%3D%22%7D%2C%22ip%22%3A%7B%22address_v4%22%3A%22109.252.52.39%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-yarequestid:
      - bccab7be-4597-410a-a2b2-8c8f22da78ee
    body:
      encoding: UTF-8
      string: |
        {
           "position" : {
              "altitude" : 0.0,
              "altitude_precision" : 30.0,
              "latitude" : 55.75395965576172,
              "longitude" : 37.62039184570312,
              "precision" : 100000.0,
              "type" : "ip"
           }
        }
  recorded_at: Fri, 02 Sep 2016 11:29:37 GMT
recorded_with: VCR 3.0.3
